<% @secrets.each do |s| %>
  <p><%= s.content %></p>
  <p><%= s.likes.count %> likes</p>
  <% if s.users_liked.include?(current_user) %>
    <form action="/likes/<%= Like.find_by(user: current_user.id, secret: Secret.find(s.id)).id %>" method="post">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <button type="submit">Unlike</button>
    </form>
  <% end %>
  <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= s.id %>'>
    <button type="submit" name="Like">Like</button>
  </form>
  <% if current_user == s.user %>
    <form action='/secrets/<%= s.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete'>
    </form>
  <% end %>
<% end %>